@model Inmobiliaria.Models.Pago

@{
    ViewData["Title"] = "Create";
}


<h4>Registrar pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label"></label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdContrato" class="control-label"></label>
                <select class="form-control" name="IdContrato">
                    @foreach (var contrato in (List<Contrato>)ViewBag.contratos)
                    {
                    <option value="@contrato.IdContrato"> @("Contrato Nº " + contrato.IdContrato + ", inmueble en "+ contrato.Inmueble.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="IdContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Importe" class="control-label"></label>
                <input asp-for="Importe" class="form-control" />
                <span asp-validation-for="Importe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDePago" class="control-label"></label>
                <input value="@DateTime.Now" asp-for="FechaDePago" class="form-control" />
                <span asp-validation-for="FechaDePago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al índice</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
