@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center container" id="pagina">
    <h1 class="display-4">Estadísticas</h1>
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col-md-6">
            <canvas id="myChart2"></canvas>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart3"></canvas>
        </div>
        <div class="col-md-6">
           
        </div>
    </div>

    <script>

        const cargarMesesResidenciales = async () => {
            await $.get(`@Url.RouteUrl("api")/inmueblesgratis/residencialespormes`).done((res) => {

                return res;
            });
        }
        const cargarDatos = async (direcciones, precios) => {
            //await $.get("http://localhost:64132/api/inmueblesgratis").done((res) => {
            await $.get(`@Url.RouteUrl("api")/inmueblesgratis`).done((res) => {
                           console.log(res);
                           res.map(inmueble => direcciones.push(inmueble.direccion));
                           res.map(inmueble => precios.push(inmueble.precio));
                           console.log(direcciones);
                           return false;
                       });
        }
        const cargarTipos = async (tipos, count) => {
            //await $.get("http://localhost:64132/api/inmueblesgratis/tipos").done((res) => {
            await $.get(`@Url.RouteUrl("api")/inmueblesgratis/tipos`).done((res) => {
                console.log(res);
                res.map(inmueble => tipos.push(inmueble.tipo));
                res.map(inmueble => count.push(inmueble.count));
                return false;
            });
        }

        const cargarPromediosSegunAmbientes = async (ambientes, montosPromedio) => {
            //await $.get("http://localhost:64132/api/inmueblesgratis/tipos").done((res) => {
            await $.get(`@Url.RouteUrl("api")/inmueblesgratis/ambientes`).done((res) => {
                console.log(res);
                res.map(inmueble => ambientes.push(inmueble.ambientes));
                res.map(inmueble => montosPromedio.push(inmueble.montoPromedio));
                return false;
            });
        }

            const cargarGraficos = async () => {

                const mesesResidenciales = cargarMesesResidenciales();
    
                console.log(mesesResidenciales);
                const meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'];

            Chart.defaults.global.defaultFontFamily = 'Arial';
            Chart.defaults.global.defaultFontColor = "black";




            let direcciones = [];
            let precios = [];

            // Gráfico de barras
            await cargarDatos(direcciones, precios);
            const rgb = randomColors();
            const context = document.getElementById("myChart").getContext("2d");
            const myChart = new Chart(context, {
                type: 'bar',

                data: {
                    labels: direcciones,
                    datasets: [{
                        label: "Precios de inmuebles",
                        data: precios,
                        backgroundColor: "rgba(" + rgb + ", 0.3)",
                      /*  backgroundColor: function(context) {
                            var index = context.dataIndex;
                            var value = context.dataset.data[index];
                            return value > 20000 ? 'red' :  // draw negative values in red
                                index % 2 ? 'blue' :    // else, alternate values in blue and green
                                    'green';
                        },*/
                        borderColor: "rgba(" + rgb + ", 1)",
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }]
                    }
                }
            });
            // Gráfico de torta(prueba con grafico polar)
            let tipos = [];
            let count = [];
            let colores = [];
            await cargarTipos(tipos, count);
            for (let i = 0; i < tipos.length; i++) {
                colores.push("rgba(" + randomColors() + ", 1)");
            }
            console.log(colores);
            const context2 = document.getElementById("myChart2").getContext("2d");
            const myChart2 = new Chart(context2, {
                type: 'polarArea',
                data: {
                    labels: tipos,
                    datasets: [{
                        label: "Cantidad de inmuebles según tipo",
                        data: count,
                        backgroundColor: colores,
                    }]
                },
                options: {
                    responsive: true,
                }
            });
            // Gráfico de linea
            let ambientes = [];
            let montosPromedio = [];
            await cargarPromediosSegunAmbientes(ambientes, montosPromedio);
            const context3 = document.getElementById("myChart3").getContext("2d");
            const myChart3 = new Chart(context3, {
                type: 'line',
                data: {
                    labels: ambientes,
                    datasets: [{
                        label: "Precio promedio según cantidad de ambientes",
                        data: montosPromedio,
                        backgroundColor: "rgba(" + rgb + ", 1)",
                        borderColor: "rgba(" + rgb + ", 0.3)",
                        fill: false,
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true,
                                callback: function (value, index, values) {
                                    return '$' + value;
                                }
                            }
                        }],
                        xAxes: [{
                            ticks: {
                                min: 0,
                                max: 25,
                                stepSize: 1,
                            }
                        }],
                    }
                }
            });
        }
        cargarGraficos();

        const randomColors = () => {
            const r = Math.floor(Math.random() * 255);
            const g = Math.floor(Math.random() * 256);
            const b = Math.floor(Math.random() * 255);
            return `${r}, ${g}, ${b}`;
        }
    </script>
</div>
